.button__title {
  color: green;
}

.button__container {
  background: #74d3ae;
  border-radius: 6px;
  height: 40px;
  width: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  padding: 1rem;
}
